<header class="p-3 transparent">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <img id="my-logo" src="../assets/images/headShot.png" alt="Caleb logo" width="75" height="75" class="me-lg-3" />
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
      <li><a href="/websites.html" class="nav-link px-2">Websites</a></li>
      <li><a href="/games.html" class="nav-link px-2">Games</a></li>
      <li><a href="/about.html" class="nav-link px-2">About</a></li>
    </ul>
    <div class="nav-btns">
      <button id="download-resume" type="button" class="btn btn-outline-light me-2">Download My Resume</button>
      <a href="/contact.html">
        <button type="button" class="btn btn-warning">Contact Me</button>
      </a>
    </div>
  </div>
</header>
